* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black;
  color: white; */
  border: 50px solid white;
}

#root {
  display: flex;
  flex-direction: column;
}

.container1,
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="fa-chevron"] {
  margin: 0 20px;
  font-size: 35px;
}

.fa-circle {
  margin: 15px;
  font-size: 30px;
}

.active {
  color: grey;
}
