* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black;
  color: white; */
  border: 50px solid white;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="fa-chevron"] {
  margin: 0 20px;
  font-size: 35px;
}
